sudo: false
language: php

php:
    - 7.0
    - 7.1
    - 7.2

before_script:
    - composer self-update && composer install

script: ./tests/runTests.sh

after_script:
    - php vendor/bin/coveralls -v
