<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./src/JShrink/</directory>
    </include>
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="JShrink Test Suite">
      <directory suffix="Test.php">./tests/JShrink/</directory>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>requests</group>
      <group>development</group>
    </exclude>
  </groups>
  <logging/>
</phpunit>
